.logo>p {
    font-family: dinprobold_0;
    font-size: 34.26px;
    line-height: 34.26px;
    opacity: .8;
    margin: 0;
}

.container.header {
    padding-top: 17px;
    padding-bottom: 17px;
}


.logo,.header .description,.contactphone,.contactbutton {
    display: inline-block;
    vertical-align: middle;
    min-width: 70px;
}

.header .description,.contactphone {
    font-family: dinprolight;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}


.contactbutton {
    padding: 20px 0px;
}

.container.footer {
    padding-top: 17px;
    padding-bottom: 17px;
}

.contactphone{
    padding:9px 0;
}
.contactphone>span{
    font-family: dinproregular;
    font-size:24px;
}
.contactbutton{
    padding:0 20px;
}


a.button {
    background: #f9a81b;
    border-radius: 12px;
    padding: 10px 36px;
    color: #FFF;
    font-size: 18px;
    font-family: PTSansRegular;
    line-height: 24px;
    display: inline;
    position:relative;
    text-decoration:none;
    transition:all .5s;
    z-index: 1;
}
a.button:hover{
    box-shadow: 3px 4px 2px rgba(0, 0, 0, .4);
}
a.button:before,a.button:after{
    content:'';
    transition:all .5s;
    position:absolute;
    transform:rotate(0deg);
    left:0;
    right:2px;
    top:0;
    bottom:2px;
    z-index:-1;
    border-radius: 12px;
}
a.button.button-selected:before,a.button:hover:before {
    content:'';
    position:absolute;
    left:0;
    right:2px;
    top:0;
    bottom:2px;
    z-index: -1;
    background: inherit;
    border-radius: 12px;
    transform:rotate(-3deg);
    transform-origin:left top;
    display: block;
}
a.button.button-selected:after,a.button:hover:after {
    content:'';
    position:absolute;
    left:0;
    right:2px;
    top:0;
    bottom:0;
    z-index:-1;
    background: hsla(0, 0%, 0%, .3);
    border-radius: 12px;
    display: inline;
    transform:rotate(-3deg);
    transform-origin:left top;
}

.slide {
    overflow: hidden;
    height: 775px;
}

.slide>img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

svg.topclouds {
    fill: #fff;
    width:4000px;
    height:150px;
    box-shadow: 0px -9px 2px 2px rgb(0, 0, 0);
    margin-left: -20px;
}

.cloudscontainer {
    margin-top: -148px;
    margin-bottom: -100px;
    position: relative;
    overflow: hidden;
    height: 150px;
}
.cloudssvg {
    position:absolute;
    left:50%;
    height:150px;
    width:4000px;
    top: 0;
    transform: translateX(-50%);
}

.carousel-caption {
    top: 0;
    left: 0;
    background: url(../images/slider-caption-bg.png) no-repeat;
    margin-left: -205px;
    padding-left: 205px;
    width:860px;
    padding-right: 170px;
}

/* Animation delays */
#carousel-top .carousel-caption h3:first-child {
	animation-delay: 1s;
}
#carousel-top .carousel-caption h3:nth-child(2) {
	animation-delay: 1.2s;
}
#carousel-top .carousel-caption div {
	animation-delay: 1.5s;
	font-family:PTSansRegular;
	font-size:20px;
	line-height:26px;
	color:#000;
	text-shadow:none;
	text-align:left;
	margin-top:40px;
}

#carousel-top .carousel-caption.animated.fadeIn {
    animation-delay: .5s;
}

#carousel-top .carousel-caption h3 {
  font-size: 70px;
  font-family: Lisichka_comic;
  color: rgb(228, 152, 21);
  line-height: 1.143;
  text-align: left;
  line-height: 80px;
  margin-top: 110px;
}

.item img+.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
}

.row.block0 h2{
	font-family:PTSansRegular;
	font-size:20px;
	line-height:24px;
	text-align:center;
	max-width:160px;
	margin:0 auto;
	height: 230px;
}
.row.block0 img{
	position:absolute;
	top:50px;
	left:50%;
	transform:translateX(-50%);
}
.row.block0 div:nth-child(1) img{
	animation-delay: 0s;
}
.row.block0 div:nth-child(2) img{
	animation-delay: .2s;
}
.row.block0 div:nth-child(3) img{
	animation-delay: .4s;
}
.row.block0{
	text-align:center;
	padding-bottom: 70px;
}

.row.block0 a.button{
	padding:10px 60px;
}


.container-fluid.block0 {
    background: url(../images/flags-bg.png) repeat-x bottom center;
}

.block1 h2 {
	font-family:PTSansBold;
    font-size: 30px;
    line-height: 24px;
    color: #e85032;
    text-transform:uppercase;
    margin-bottom:20px;
    margin-top:70px;
}
.block1 p {
	font-family:PTSansBold;
    font-size:18px;
    line-height: 24px;
    margin-bottom:20px;
}
.block1 label{
	display:block;
	font-family:PTSansRegular;
    font-size: 16px;
    line-height: 24px;	
    opacity:.5;
    margin-left:10px
}

.block1 input{
	display:block;
	font-family:PTSansRegular;
    font-size: 16px;
    line-height: 24px;	
    border-radius:12px;
    border:1px solid #f9a81b;
    padding:7px 20px;
    margin:10px 40px 10px 0
}
.block1 .button-container{
    margin:30px 0;
}



.orange {
	background-color:#e95b2d!important;
}

.col-md-4.hidden-sm.hidden-xs.camera1>div {
    background: url(../images/camera1.jpg) no-repeat left center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.col-md-4.hidden-sm.hidden-xs.camera1 {
    height: 400px;
}

.container-fluid.video1 h2 {
    text-align: center;
    font-family:PTSansBold;
    color:#ffffff;
    text-transform:uppercase;
    margin-top:90px;
    font-size:30px;
}
.container-fluid.video1{
	background:url(../images/video1-bg.jpg) top center;
	height: 710px;
	margin-bottom: 150px;
}

.video1 .video-button label{
	text-align: center;
	font-family:PTSansRegular;
	color:#ffffff;
	margin-top: 150px;
	font-size:18px;
	font-weight:normal;
	display:block;
}
.video1 .video-button svg{
	cursor:pointer;
	width:105px;
	display:inline-block;
	margin: 20px 0;
}
.video1 .video-button{
	display: block;
	text-align:center;
}

@keyframes rotate-on-hover {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.video1 .video-button svg:hover,.video2 svg:hover,.video3 svg:hover{
	animation: rotate-on-hover 1.2s infinite;
}
.video1 .row .row>div{
	position:relative;
	height:300px;
}
.video1 .row .row>div:nth-child(2){
	left:20px;
}
.video1 .row .row>div:nth-child(3){
	left:40px;
}

.video1 .row .row>div p{
	font-family:PTSansRegular;
	margin:0;
	font-size:16px;
}
.video1 .row .row>div h3{
	font-family:PTSansBold;
	margin:0 0 10px;
	font-size:18px;
}
.border-rounded,.border-rounded>.content {
	border-radius:12px;
}
div.y-ico .content{
	padding:30px 25px;
	overflow:hidden;
	background: url(../images/y-ellipsis.png) no-repeat #fff;
	background-position:calc(100% + 50px) -50px;
	transition:all .5s;
	position:absolute;
	bottom:0;
	left:-10px;
	width:100%;

}

div.y-ico:hover .content{
	background-color:#f7a500;
	color:#fff;
	animation:r1 1s;
}

div.y-ico .content	:before{
	content:'';
	position:absolute;	
	display:block;
	background-image:url(../images/icon-map.png);
	background-repeat:no-repeat;
	width:60px;
	height:60px;
	top:15px;
	right:10px;
}

.shadow .content{
	box-shadow: 0px 18px 20px 2px rgba(0, 0, 0, 0.16);
}


@keyframes r1 {
  0% {
    transform: rotateY(0deg); 
  }
  50% {
    transform: rotateY(180deg); 
  }
  100% {
    transform: rotateY(360deg);
  }
}

.y-w-ico-1 .content	:before{
	background-position:0 0;
}
.y-w-ico-2 .content	:before{
	background-position:-57px 0;
}
.y-w-ico-3 .content	:before{
	background-position:-114px 0;
}
.y-w-ico-4 .content	:before{
	background-position:-171px 0;
}
.y-w-ico-5 .content	:before{
	background-position:-228px 0;
}
.y-w-ico-6 .content	:before{
	background-position:-285px 0;
}
.y-w-ico-7 .content	:before{
	background-position:-342px 0;
}

.block2 h2{
	font-size:30px;
	font-family:PtSansBold;
	line-height:36px;
	margin:0 0 40px;
	text-transform:uppercase;
	color:#373737;
}

.block2 li{
	font-size:18px;
	font-family:PtSansRegular;
	line-height:24px;
	padding:0 0 0 40px;
	margin-bottom:20px;
	background:url(../images/maps-and-flags.png) no-repeat left center;
	list-style:none;
}
.block2 .button-container{
	margin-top:40px;
}
.girl1{
	background:url(../images/girl1.png) no-repeat left center;
	background-size: contain;
	height:500px;
	overflow: visible;
}

.container-fluid.block2:after {
    background: url(../images/bubbles.png) repeat-x bottom center;
    content:'';
    display:block;
    position:absolute;
    bottom: -40px;
    height: 80px;
    left:0;
    right:0;
}

.container-fluid.block2 {
    position: relative;
}

.container-fluid.video2{
	background:url(../images/video2-bg.jpg) top center;
	height: 710px;
	margin-bottom: 5px;
	padding:30px inherit;

}
.container-fluid.video3{
	background:url(../images/video3-bg.jpg) top center;
	height: 710px;
	margin-bottom: 5px;
	position:relative;
}

.container-fluid.video3:after {
    background: url(../images/bubbles.png) repeat-x bottom center;
    content:'';
    display:block;
    position:absolute;
    bottom: -40px;
    height: 80px;
    left:0;
    right:0;
}

.promovideo{
	padding: 0 100px 0 0;
}
.promovideo h2 {
		font-size:30px;
	font-family:PtSansBold;
	line-height:36px;
	text-transform:uppercase;
	color:#fff;
}
.promovideo p {
		font-size:16px;
	font-family:PtSansRegular;
	line-height:24px;
	color:#fff;
}
.promo .button-container {
margin-top:40px;
}
.promovideo svg {
	width:80px;
	position:absolute;
	right:0;
	top: 30px;
}


section.ya-maps{
    min-height: 700px;
    background: rgba(147, 146, 146, 0.49);
}

footer{
   background-color: #404245;
   color:white;
}

footer .description,.contactphone,.contactbutton {
    display: inline-block;
    vertical-align: middle;
    min-width: 70px;
    color:white;
}

footer .description, .contactphone {
    font-family: dinprolight;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
footer .logocontainer{
        margin-top: 5%;
}
footer .logo{
    margin-top:20px;
}

footer .description {
    font-family: dinprolight;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-top: 25px;
}

footer .mail-info{
    margin-top:15px;
    margin-bottom:30px;
}

footer .contactphone{
    margin-top: 5%;
    text-align: right;
    padding-left: 30px;
}

footer .contactphone span{
    font-size: 19px;
    text-align: right;
    
}

footer .contactbutton{
    padding: 20px 0;
}
.socials{
    text-align: center;
}
footer .socials{
    margin-top:25%;
    margin-bottom:25%;
}
footer .socials>a.btn-link{
	padding:0;
}

.ya-maps{
	position:relative;
}

.ya-maps .absolute-callback-form {
    left: 10%;
    position: absolute;
    bottom: 10%;
}

.rounded-btn{
    border-radius: 15px;
}
.panel-heading.happy{
    padding: 0px;
    margin-top: 25px;
}
.panel-heading.happy h2{
    color:orange;
    font-size:20px;
    margin-bottom: 5px;
}
.panel-heading.happy span{
    font-size: 15px;
}

.full-width{
    width:100%;
}

.absolute-callback-form .button-container{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}

.absolute-callback-form a.button.orange{
    margin:20px;
}
.absolute-callback-form label{
    font-weight: normal;
    color: grey;
}
.coockies-h{
    font-weight:700;
}

section.our-team{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
section.our-team .button-container{
    margin-top:50px;
}

.thumbnail a:hover{
    text-decoration: none;
}

.thumbnail.girl-icon:before{
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/icon-map.png);
    background-repeat: no-repeat;
    background-position-x: -340px;
    width: 60px;
    height: 60px;
    top: -20px;
    background-color: #f9a81b;
    left: 42px;
    border-radius: 40px;
}

.thumbnail.man-icon:before{
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/icon-map.png);
    background-repeat: no-repeat;
    background-position-x: -397px;
    width: 60px;
    height: 60px;
    top: -20px;
    background-color: #f9a81b;
    left: 42px;
    border-radius: 40px;
}
.faq .item-text{
    padding-left:30px;
}
.faq .list-group-item{
    margin-bottom:15px;
}
.label-default.circled-number{
    position: absolute;
    left: -27px;
    top: 25%;
    display: inline;
    font-size: 30px;
    /* font-weight: lighter; */
    font-weight: 100;
    line-height: 1;
    color: #f9a81b;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    background-image: url(../images/skobki-circle.png);
    background-position-y: -7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.faq .list-group.bordered .list-group-item{
    border-radius: 15px;
    border: 1px solid #f9a81b;
}



/*.thumbnail.frames:after{
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/ramka.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #f9a81b;
    //left: 42px;
    //border-radius: 40px;
}*/
.our-team .thumbnail img{
    border-radius:15px;
}

section.coockies p{
    font-size:19px;
}
span.orange-text{
    color:#e95b2d;
    font-weight: bold;
}
.coockies-h{

}

@media (max-width: 767px){
    .socials{
        margin-top:1em !important;
        margin-bottom:1em!important;
    }
    footer .contactphone, footer .contactbutton{
        text-align: center;
        padding-left:0;
    }
}
